
<h1> DS200A Computer Vision Assignment</h1>

<h2>  Part Three: Training Models </h2>

In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt
import sklearn

In [39]:
def train_test_split(df):
    
    return df1, df2
#Split the data into a training set, and test set 
def accuracy(pred, actual):
    return 0
# Calculate the accuracy percentage of the predicted values

In [3]:
training_data = pd.read_hdf('training_data.h5')

In [4]:
training_data.head()

,image,label,ft1,ft2,ft3,ft4,ft5,ft6,ft7,ft8,ft9
0,"[[[255, 255, 255], [255, 255, 255], [255, 255,...",0,183.355727,176.750337,149.151581,2.426829,0.563561,0.540621,0.061394,0.024742,71
1,"[[[255, 255, 255], [255, 255, 255], [255, 255,...",0,210.739822,189.280101,164.805242,2.179348,0.547861,0.540856,0.043255,0.019139,38
2,"[[[255, 255, 255], [255, 255, 255], [255, 255,...",0,170.123787,147.788681,111.753798,2.381818,0.485925,0.527792,0.051072,0.034862,82
3,"[[[174, 190, 187], [173, 189, 186], [172, 188,...",0,152.159752,132.648316,77.917303,2.311765,0.443575,0.442804,0.059753,0.038761,126
4,"[[[255, 255, 255], [255, 255, 255], [255, 255,...",0,147.397886,150.504790,86.252963,2.244318,0.479493,0.390340,0.046278,0.066373,93

<h3>  Train models using all of the following methods below. Be sure to drop the actual image column, and the encoding</h3>	Take note of the differences in accuracy, and methods.

Logistic Regression

K-nearest Neighbors

Random Forest

Support Vector Machine